SHEETY_AUTHORIZATION=your_token_here
SHEETY_URL=your_sheety_endpoint(prices)
SHEETY_URL_USERS=your_sheety_endpoint(users)
SERPAPI_API_KEY=your_serpapi_key
SERPAPI_URL=serpapi_enpoint
TWILIO_NUMBER=twilio_assigned_number
WHATSAPP_NUMBER=your_whatsapp_number(whatsapp:+xxxxxxxxxxxx)
ACCOUNT_SID=your_sid_here(Twilio)
AUTH_TOKEN=your_token_here(Twilio)
EMAIL_PASSWORD=your_app_password(SMTP)
EMAIL_ADDRESS=your_email@gmail.com(SMTP)